
.wrap {
	margin: 0px;
	width: 100%;
}

.principal {
    border-radius: 10px;
    background: #395B64;	
	color: #fff;
	padding: 50px 0;
	width: 95%;
    margin: 10px auto;
}

.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px 0px 10px 0px; 
	width: 100%;
    margin: 10px auto;
    border: 0px solid ;
    text-align: center;

}
/* CUANDO DA ERROR SE RESALTA */
.principal .formulario input[type=text].error {
	border: 1px solid #D32F2F;
	color: red;
}

/* BOTON  */

.btn-list{
display: flex;
margin: 10px auto;
width: 10%;
justify-content: center;
padding: 15px 15px;
border-radius: 5px;
background: #2C3333;
color: white;
cursor: pointer;
border: none;
}
.btn-list:hover{
        border-radius: 1.8px;
        background: rgb(66, 65, 65);
        transition: 0.8s;
        
}

.formulario{
    background: #395B64;
    
}

.tareas  {
	list-style: none;
}
.lista{
    list-style: none;
    padding: 0px;
}

#tareaInput{
    
}

li{
    font-size: 20px;
    text-align: center;
    background: #395B64;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    margin: 10px auto;
    width: 90%;
}

.tareas .lista li a {
    background: #395B64;
	color: white;
	text-decoration: none;
    transition: background 0.8s;
}  

.tareas .lista li a:hover {
	text-decoration: line-through red;
}