#container{
    width:100%;
    text-align:center;
  }
  
  #timer{ 
    color:white; 
    font-size:70px; 
    margin:10px auto;
    width:50%;
    height:25%;
    cursor:default;
  }
  
  #time{
    margin: 50px auto ;
  }

  .btn-pm{
    margin-top: 2px;
    border-radius: 5px;
    border: 1px white solid;
    background: #2C3333;
    color: white;
    cursor: pointer;
    width: 20%;
    height: 30px;
  }
  
  .btn-pm:hover{
    border-radius: 1.8px;
    background: rgb(66, 65, 65);
    border: 1.5px solid white;
}
 
  
 
  