/* card responsive */
@media screen and (max-width: 737px) {
    .cards{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
    }
    
}

/* FIN CARD RESPONSIVE */


/* RESPONSIVE CRONOMETRO */
@media screen and (max-width: 966px){
   .timer-btn{
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   }
   .boton{
    margin: 2px 10px;
    width: 35%;
   }
}

@media screen and (max-width: 828px){
    .crono-p{
        font-size: 25px;
    }
    .reloj{
        font-size: 40px;
    }

}


/* FIN RESPONSIVE CRONOMETRO */


/* RESPONSIVE TEMPORIZADOR */
@media screen and (max-width: 893px){
    .temp-p{
        font-size: 25px;
    }
}

/* FIN RESPONSIVE TEMPORIZADOR */


/* RESPONSIVE POMODORO */

@media screen and (max-width: 1294px) {
   #timer{
    font-size: 60px;
   }
  }

@media  screen and (max-width:1150px ){
    #buttons{
        margin: 0px auto;
    }
    .btn-pm{
        margin: 2px 10px;
        width: 35%;
    }
    
  }

@media screen and (max-width: 1100px) {
    #timer{
        font-size: 50px;
       }
       .timer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
       }
   } 
 
@media screen and (max-width: 934px){
    #timer{
        font-size: 45px;
       }
}

@media screen and (max-width: 839px){
    #timer{
        font-size: 40px;
       }
}

@media screen and (max-width: 739px){
    #timer{
        font-size: 35px;
       }
}

/* FIN RESPONSIVE POMODORO */

/* LISTA RESPONSIVE */

@media screen and (max-width: 620px){
    .btn-list{
        width: 100%;
    }
}
/* FIN LISTA RESPONSIVE */