body{
    margin: 0;
    background: gray;
}

/* title */
.title{
    height: 70px;
    width: 100%;
    background: red;
}

/* nav */
.nav{
    height: 25px;
    width: 100%;
    background: blue;
    display: flex;
}

.selection{
    background: green;
    height: 25px;
    width: 90%;
}
.social{
    background: rgb(80, 52, 80);
    height: 25px;
    width: 10%;

}

/* card */
.cards{
    display: flex;
}
.card{
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px black;
    height: 250px;
    width: 30%;
    background: blue;
    margin: 10px auto;
}
/* Cronometro */
.crono-p{
    /* border-radius: 0px 20px 0px 0px; */
    margin: 22px 0px 25px 0px;
    padding-top: 10px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background-color: red;
}
.contenedor{
    display: flex;
    margin: 5px 0px 10px 0px;
    width: 100%;
    background: white;
    justify-content: center;
}

.reloj{
    background: white;
    font-size: 50px;
}
.timer-btn{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.boton{
    border-radius: 5px;
    margin: 0px 3px;
    border: 1ps black solid;
    height: 30px;
    width: 100%;
    background: black;
    color: white;
    transition: border-radius 0.8s, background 0.8s, border 0.8s;
}
.boton:hover{
    border-radius: 1.8px;
    background: rgb(66, 65, 65);
    border: 1.5px solid white;
}
/* FIN CRONOMETRO */

/* TEMPORIZADOR */

.timer-btn2{
    display: flex;
    flex-direction: column;
    background: blue;
    width: 50%;
    text-align: center;
}

.btn-style{
    display: flex;
    flex-direction: row;    
    width: 15%;
    justify-content: center;
    text-align: center;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 12px rgba(255, 0, 0, 0.658);
}


.btn-style:hover{
    box-shadow: 0px 0px 12px red;
}

.btn-style:active{
    background: rgba(255, 0, 0, 0.452);
    box-shadow: -1px 2px 12px rgba(255, 0, 0, 0.658);
}

/* FIN TEMPORIZADOR */